/* @media only screen and (max-width:581px) {
	h2 {
		font-size: 1.5em;
	}
}
@media only screen and (max-width:420px) {
	h2 {
		font-size: 1.0em;
	}
	header {
		min-width: 350px;
	}
	#intro {
		min-width: 300px;
		padding: 3em 0em;
	}
} */

/* @media only screen and (max-width: 760px) {
	#portfolio > .content {
	width: 500px;
	background-color:pink;
	}
} */

html {
  /* height: 100%; */
  font-size: 32px;
}

body {
  /* height: 100%; */
  margin: 0;
  background-color: #CFD8DC;
  color: #FFFFFF;
  font-family: "Roboto Slab", sans-serif;
}

a,
a:active a:visited {
  color: #FF4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* section {
	min-height: 1vh;
} */

#topNav {
  position: fixed;
  height: 1.7em;
  left: 0;
  right: 0;
  padding: .5em 0;
  background-color: rgba(69, 90, 100, .7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.7em;
}

#topNav ul {
  width: max-content;
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;
}

#topNav ul li {
  display: inline-block;
  margin: 0 .1em;
  padding: .25em .5em;
  border-radius: 0 5em 2.5em 5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: lowercase;
  font-weight: bold;
  font-family: Raleway, sans-serif;
  background-color: #FF4081;
  list-style: none;
}

#topNav ul>li>a,
#topNav ul>li>a:visited,
#topNav ul>li>a:active {
  color: white;
  text-decoration: none;
}

#topNav ul li:hover {
  background-color: #FF80AB;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.30), 0 7px 7px rgba(0, 0, 0, 0.23);
}

header {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-image: url("../img/spaceheader.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  font-size: 2.5em;
}

header h1 {
  margin: .1em auto;
  font-size: 3em;
  line-height: .75em;
  text-transform: uppercase;
  font-family: Megrim, sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h2,
h3,
h4 {
  font-family: Raleway, sans-serif;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

/* .section-dark h2,
.section-dark h3,
.section-dark h4 {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
} */

/* .section-light h2,
.section-light h3,
.section-light h4 {
  text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.8);
} */

header h2 {
  margin: 0 auto;
  font-size: .75em;
  text-transform: lowercase;
}

section {
  display: flex;
  min-height: 100vh;
  align-items: center;
  font-size: 1.5em;
}

.content {
  padding: 10em auto;
  margin: .3em auto;
  text-align: center;
}

.section-dark {
  color: #fff;
  background-color: rgb(69, 90, 100);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.section-light {
  color: #000;
}

.intro {
  padding: 7em .5em;
  font-weight: 500;
  font-weight: 500;
  text-align: center;
}

.intro .emoji-link {
  filter: grayscale(100%);
  font-size: 2em;
}

.intro a.emoji-link:hover {
  text-shadow: 0px 0px 30px #FFF;
  text-decoration: none;
}

#portfolio {
  /* display: grid; */
}

#portfolio>.content {}

.portfolio-item {
  /*placeholder*/
  /* background-position: bottom;
  background-repeat: no-repeat; */
  text-align: left;
  width: 90%;
  /* height: 178px; */
  border-radius: .2em;
  overflow: none;
  margin: 0 auto;
  /* margin: 5px 5px; */
  /* padding-top: 5px; */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

/* .portfolio-item:hover {
  background-color: #FF80AB;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.30), 0 7px 7px rgba(0, 0, 0, 0.23);
} */

.portfolio-item img {
  width: 100%;
}

/* #portfolio a,
#portfolio a:visited,
#portfolio a:hover {
  text-indent: .5em;
  color: white;
} */

#jqueryStreetfighterThumb {
  background-image: url("../img/jquery-streetfighter-thumb.png");
}

#nytCssHackThumb {
  background-image: url("../img/nyt-hack-thumb.png");
}

#landingPageCloneThumb {
  background-image: url("../img/landing-page-clone-thumb.png");
}

#jqueryShoppingListThumb {
  background-image: url("../img/jquery-shopping-list-thumb.png");
}

#rhymequoteThumb {
  background-image: url("../img/rhymequote-thumb.png");
}

#hotOrColdThumb {
  background-image: url("../img/hot-or-cold-thumb.png");
}

#pepsiQuizThumb {
  background-image: url("../img/pepsi-quiz-thumb.png");
}

/* #tylerJustynOfficialThumb {
  background-image: url("../img/tyler-justyn-official-thumb.png");
} */

footer {
  padding: 4em 0;
  clear: both;
  font-size: 2em;
}

#icons {
  padding-left: 0;
}

#icons>li {
  display: inline-block;
  font-size: 1.5em;
  background-color: #fff;
  border-radius: 50%;
  padding: .25em .5em;
  margin: 0 0.25em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#icons>li:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.30), 0 7px 7px rgba(0, 0, 0, 0.23);
}